.cta {
  background-color: #fff;
  padding: 3.5rem 0;
  text-align: center;


  &-booking {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 200;
  }

  &-btn {
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 10rem;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    transition: all 5s;

    span {
      display: inline-block;
      letter-spacing: 1px;
      transition: all 0.4s;
    }

    &_visible {
      padding: 2rem 7.5rem;

      @include respond(phone) {
        padding: 1.7rem 6.5rem;
      }
    }

    &_invisible {
      padding: 2rem 0;
      position: absolute;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-image: linear-gradient(
        to right,
        var(--color-primary-dark),
        var(--color-primary-light)
      );
    }

    &:focus {
      outline: none;
      animation: shadowPulsate 1s infinite;
    }

    &:hover &_visible {
      transform: translateY(100%);
    }

    &:hover &_invisible {
      top: 0;
    }
  }
}
