.description {
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: white;

  @include respond(tablet) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @include respond(phone) {
    margin: 0 0 3rem 0;
  }

  .special-text {
    color: var(--color-primary);
    margin-bottom: 1.5rem;
  }

  .list {
    display: flex;
    padding: 3rem 0;
    margin: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    flex-wrap: wrap;

    &-item {
      flex: 0 0 50%;
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.7rem;

        background-image: url("../../img/SVG/chevron-right.svg");
        background-size: cover;

        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
          background-color: var(--color-primary);

          -webkit-mask-image: url("../../img/SVG/chevron-right.svg");
          -webkit-mask-size: cover;
          mask-image: url("../../img/SVG/chevron-right.svg");
          mask-size: cover;

          background-image: none; /* Hide the background image when using mask */
        }
      }
    }
  }

  .recommend {
    display: flex;
    align-items: center;

    &-count {
      margin-right: auto;
      font-size: 1.3rem;
    }

    &-friends {
      &_photo {
        height: 4.6rem;
        width: 4.6rem;
        border-radius: 50%;
        margin-right: -2rem;
        border: 0.3rem solid white;

        @include respond(tablet) {
          height: 4rem;
          width: 4rem;
          border: 0.2rem solid white;
        }
      }
    }
  }
}
