.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);

  &-heading {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;

    @include respond(tablet) {
      padding: 1.25rem 2rem;
    }
  }

  &-stars {
    margin-right: auto;
    display: flex;
  }

  &-stars_icon,
  &-location_icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &-location {
    font-size: 1.2rem;
    display: flex;

    &_icon {
      margin-right: 1.2rem;
    }
  }

  &-rating {
    margin-left: 3rem;
    padding: 0 2.25rem;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    text-align: center;

    @include respond(phone) {
      padding: 0 2rem;
      margin-left: 2.5rem;
    }

    &_average {
      font-size: 2.25rem;
      font-weight: 200;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &_count {
      font-size: 0.9rem;
      @include respond(phone) {
        font-size: 0.65rem; //hello
      }
    }
  }
}

.btn-inline {
  font-size: inherit;
  text-decoration: none;
  color: var(--color-primary);
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite linear;
  }

  span {
    margin-left: 0.3rem;
    transition: all 0.3s;
  }

  &:hover span {
    margin-left: 0.8rem;
  }
}
